.wrapper {
  width: 100%;
  min-width: 0;

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  gap: 16px;
}

.wrapper > * {
  min-width: 0;
}

@media (max-width: 1350px) {
  .wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 650px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}